/*
1. Position
2. Box model
3. Font
4. Visual
5. Other
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "DM sans", sans-serif;
}
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201f1c 16.69%, #f7931a 100%);
}
header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 29rem;
  max-width: 90rem;
  height: 22rem;
  margin-top: 4rem;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 11.8rem);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 1.2rem 1.6rem;
  width: 25rem;
  height: 5rem;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}
.header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/down-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 3rem;
  text-align: center;
}
.main-exchange-container--title {
  width: 80%;
  min-width: 29rem;
  max-width: 90rem;
  margin: 0 auto;
}
.main-exchange-container--background-img {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-image: url("../assets/img/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container--title h2 {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container--title p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-exchange-container--tables {
  width: 70%;
  min-width: 23rem;
  max-width: 50rem;
  /* height: 36rem; */
  height: auto;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.tables--currency--title {
  margin: 2rem 0;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  text-align: left;
}
.tables--currency--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
}
.tables--currency--container table {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}
.tables--currency--container .right-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/right-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tables--currency--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--gray);
  background-color: var(--just-white);
}
.tables--currency--container .currency--container__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.tables--currency--container .down {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tables--currency--container .up {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--date {
  width: 19rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: var(--soft-orange);
  border-radius: 0.8rem;
}
.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.tables--commissions--title {
  margin: 2rem 0;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
  text-align: left;
}
.tables--commissions--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
}
.tables--commissions--container table {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}
.tables--commissions--container .left-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/right-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.tables--commissions--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--gray);
  background-color: var(--just-white);
}
.tables--commissions--container .commissions--container__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.commissions-table--date {
  width: 19rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: var(--soft-blue);
  border-radius: 0.8rem;
}
.commissions-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: auto;
  background-color: var(--warm-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-product-detail .batata {
  display: inline-block;
  width: 4.1rem;
  height: 2.5rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/batata.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -1.25rem;
  align-self: center;
}
.main-product-detail .title {
  width: 80%;
  min-width: 29rem;
  max-width: 90rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--just-white);
  text-align: center;
  margin: 3rem auto 0;
}
.main-product-detail .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #808080;
  text-align: center;
  margin-top: 3rem;
}
.product-cards--container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail--card {
  align-self: center;
  width: 90%;
  min-width: 23rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #282326;
  margin: 1rem 0;
}
.product-card--title {
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--just-white);
}
.product-card--body {
  font-size: 1.4rem;
  font-weight: 500;
  color: #808080;
  text-align: start;
}
.clock {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.eye {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/eye.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.dollar {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/dollar-sign.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.check {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/check-circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.main-know-product {
  background-color: #c58116;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 39rem;
}
.main-know-product--img {
  width: 100%;
  min-width: 23rem;
  max-width: 50rem;
  height: 39rem;
  background-image: url("../assets/img/bitcoinbaby2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.main-know-product h2 {
  position: absolute;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--just-white);
  text-align: center;
  padding-top: 5rem;
}
.main-buy-product {
  background-color: var(--just-white);
  width: 100%;
  min-width: 23rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
}
.main-buy-product .title {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--black);
}
.main-buy-product .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #757575;
  padding: 2rem;
  margin-bottom: 2rem;
}
.buy-product--slider{
	display: flex;
	overflow-x: scroll;
	overscroll-behavior-x:contain;
	scroll-snap-type:  x proximity;
}
.buy-detail--card {
  position: relative;
  scroll-snap-align: center;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  width: 80%;
  min-width: 23rem;
  max-width: 50rem;
  height: 38rem;
}
.buy-detail-card--recommended{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
  width: 45%;
  align-self: center;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  top: -2rem;
}
.buy-detail-card--pay-model{
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1rem 0;
}
.buy-detail-card--price{
  font-size: 5.2rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
}
.buy-detail-card--comment{
  font-size: 1.2rem;
  font-weight: 500;
  color: #757575;
  font-family: "Inter", sans-serif;
  width: 70%;
  margin-bottom: 2rem;
}
.buy-detail-card--select{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  width: 70%;
  margin-bottom: 2rem;
  padding: 2rem;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 0.4rem;
  background-color: #FAF8F7;
}
.orange-arrow {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
footer{
  background-color: var(--bitcoin-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 1rem 0;
}
.footer-container-text p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--just-white);
  padding: 1rem 0;
}
.footer-container-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--just-white);
}